/* Default styles */
body {
    background: #fafafa;
    color: #333333;
    font-family: 'Roboto Slab', serif;
}
header {
    background: #fff;
    border-bottom: 1px solid #c8c8c8;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .15);
       -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .15);
            box-shadow: 0 3px 5px rgba(0, 0, 0, .15);
    padding: .75rem 0;
}
.logo-img {
    width: 100px;
}
.logo-desc {
    font-size: 1.125rem;
    font-weight: bold;
    margin: 0;
}
main {
    padding-top: 2rem;
}
.title-form {
    font-size: 2rem;
    font-weight: 600;
}
fieldset {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 1rem;
}
label {
    font-size: 1.125rem;
}
.small-integer-field {
    width: 150px;
}
.section-title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.height-col-field {
    height: 37px;
}
ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
textarea {
    height: 7rem;
    max-width: 100%;
    width: 100%
}
footer {
    background-color: #6c757d;
    margin-top: 50px;
    padding: 2rem 0;
}
.footer-desc {
    color: #fff;
    font-family: 'Arial';
    font-size: 1.125rem;
    margin-bottom: 0;
}
